<html>
<style>
   body{
    background-color: crimson;
   }
   div{
    background-color:gold;
    margin-left: 500px;
    margin-right: 500px;
    }
    button{
        background-color:darkgreen;
        margin-left: 200px;
    }
    
</style>

    <script src=
"https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js">
    </script>
    <body><br><br><br><br><br><br><br>
        <div>
        <form>
            
            <label for="image" class="image">image</label> 
            <input type="file" class="value" id="image" name="image"> <br><br><br>           
             
            
            <button type="button" class="buttom" (click)="submit()">submit</button>
            
          </form></div>
    </body>
</html>
