<html>
<style>
    h1{
        text-align: center;
    }
    div{
       background-color:coral;
       margin-left: 600px;
       margin-right:550px;
    }
    .name{
       margin-left:100px ;
    }
    button{
        background-color:blueviolet;
        margin-left: 150px;
    }
</style>
    <body>
        
        <h1>please enter otp!</h1><br><br>
        <div>
        <label for="email"  class="name">Email</label>
        <input type="text" class="name" id="email"><br><br>
        <label for="password" class="name">Password</label>
        <input type="password" class="name" id="password"><br><br>
        <button type="submit"  class="button" click="otp()">set otp</button>
        </div>
    </body>
</html>
